.butt {
  margin: 10px;
  border: 2px solid rgb(46, 136, 67);
  border-radius: 5px;
  box: shadow 1px;
}
.dive {
  text-align: center;
}
.sok {
  border: 2px solid blue;
  border-radius: 5px;
  box: shadow 1px;
  margin: auto;
}
.colores {
  width: 20px;
  height: 20px;
  display: inline-block;
  /* cursor */
  cursor: wait;
}
