.img:hover {
    transform: scale(1.5);
    border:2px solid red ;
}
/* за 0ю9 сек дергана увеличиваться ,увел в 2ю6 раза */
 .img { 
    transition: all 0.9s steps(4, end);
    border: 2px solid blue;
    border-radius: 5px;
}